@import "tailwindcss";

:root {
  --bg1: #0d0f11;
  --bg2: #141f24;
  --bg3: #233942;
}

@theme inline {
  --color-primary: var(--primary);
  --color-bg1: var(--bg1);
  --color-bg2: var(--bg2);
  --color-bg3: var(--bg3);
}

body {
  font-family: Playfair Display, serif;
  font-display: swap;
  background-color: var(--bg1);
  color: #fff;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

@keyframes skeleton-loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeleton {
  background-color: #e2e8f0; /* Cor mais clara para o fundo do esqueleto */
  background-image: linear-gradient(
    90deg,
    #e2e8f0 0%,
    #f8fafc 50%,
    #e2e8f0 100%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite linear;
}
